html{
    background-color:gray;
    color:white;
    font-family:"monaco","Courier New",monospace;
}
@media only screen and (max-width:768px){
    #navbar{
        background:rgba(255, 255, 255, 0.85);
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        height:15%;
        align-items:center;
        padding:5px;
        box-shadow:inset 0 0 6px rgba(0, 0, 0, 1);
        border-radius:12px;
        
    }

    .hpbutton{
        font-size:12px;
    }
}
@media only screen and (min-width:769px){
    #navbar{
    background:rgba(255, 255, 255, 0.85);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:35px;
    align-items:center;
    padding:10px;
    margin-left:80px;
    margin-right:80px;
    box-shadow:inset 0 0 6px rgba(0, 0, 0, 1);
    border-radius:12px;
}
}
.links{
    text-align:center;
    background-color:rgba(207, 207, 207, 0.3);
    margin-left:15%;
    margin-right:15%;
}
#wildpage{
    margin-left:20%;
    margin-right:20%;
    background-color:rgba(255, 255, 255, 0.3);
    padding:20px;
}
#tradepage{
    margin-left:20%;
    margin-right:20%;
    background-color:rgba(255, 255, 255, 0.3);
    padding:20px;
}
#raidpage{
    margin-left:20%;
    margin-right:20%;
    background-color:rgba(255, 255, 255, 0.3);
    padding:20px;
}
.hpbutton:hover{
    font-style:italic;
}
#weatherboostP{
    font-size:10px;
}
#wbcheckbox{
    display:flex;
    flex-direction: row;
    padding:12px;
}
.switch{
    padding-top:6px;
}